# 변수

## 동물 농장

동물 농장을 운영한다고 하자. 농장의 동물들이 총 몇 마리인지, 그 중 가금류는 몇 마리인지 확인이 필요하다.

현재 농장의 동물들은 다음과 같다.

소: 5
돼지: 4
닭: 3
오리: 6

In [1]:
# 합계
5+4+3+6

18

In [2]:
# 조류 합계
3+6

9

#### 연습

농장에 소가 한 마리 더 오고, 닭이 한 마리 나갔다고 했을 때, 값들을 변경하고, 합계도 갱신한다.

In [3]:
5+4+3+6+1-1

18

In [4]:
3-1+6

8

### 생각해 볼 점

* 숫자가 바뀔 때마다, 해당 숫자가 의미하는 다른 부분들에 변경을 모두 반영해야 한다.
* 숫자값과 의미를 연결하기 어렵다. 예를 들어, 같은 숫자가 있으면, 어떤 숫자가 무엇을 의미하는지 알기 어렵다.

## 이름 짓기

프로그래밍은 이름일 잘 짓는 것에서부터 시작한다.

In [5]:
소 = 5
돼지 = 4
닭 = 3
오리 = 6

In [6]:
print(소)

5

In [7]:
소

5

In [8]:
print(소, 돼지)

5 4

In [9]:
합계 = 소 + 돼지 + 닭 + 오리
합계

18

In [10]:
조류합계 = 닭 + 오리
조류합계

9

#### 연습

돼지 두 마리가 더 오고, 닭과 오리가 각각 한 마리씩 더 왔을 때 합계와 가금류합계를 갱신한다.

In [11]:
돼지 = 돼지 + 2
닭 = 닭 + 1
오리 = 오리 + 1

합계 = 소 + 돼지 + 닭 + 오리
조류합계 = 닭 + 오리

print(합계)
print(조류합계)

22
11

# 문자열

In [12]:
이름 = 'SJ'

In [13]:
샌드위치 = "SJ's 샌드위치"

### 탈출문자

In [14]:
print("3 o'clock")
print('"3 o\'clock"은 세 시')
print('3 o\'clock\t세 시')
print('탈출문자: \\')
print('행인1: "배고픈데"\n행인2: "그럼 밥 먹어야지"')

3 o'clock
"3 o'clock"은 세 시
3 o'clock	세 시
탈출문자: \
행인1: "배고픈데"
행인2: "그럼 밥 먹어야지"

# 숫자 연산자

In [15]:
5 // 3

1

In [16]:
5 % 3

2

In [17]:
2**10

1024

In [18]:
1 < 2

True

In [19]:
1 == 1

True

In [20]:
1 <= 2

True

In [21]:
1 >= 2

False

# 자료형의 유형

In [22]:
x = 1
type(x)

int

In [23]:
x = 3.14
type(x)

float

In [24]:
x = 'hello'
type(x)

str

In [25]:
1 + 3.14

4.140000000000001

In [26]:
'hello,' + 'world'

'hello,world'

오류! 숫자와 문자열은 더해질 수 없다.

In [27]:
1 + 'one'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
msg = '123'
msg[0]

'1'

오류! 숫자는 부분적으로 선택할 수 없다.

In [29]:
number = 123
number[0]

TypeError: 'int' object is not subscriptable

In [30]:
'hello' * 5

'hellohellohellohellohello'

In [31]:
1 + int('1')

2

오류!

In [32]:
int('one')

ValueError: invalid literal for int() with base 10: 'one'

In [33]:
str(1)

'1'