In [1]:
for n in [1,2,3]:
    print(n)

1
2
3

In [2]:
for _ in [1,2,3]:
    print('참 잘 했어요!')

참 잘 했어요!
참 잘 했어요!
참 잘 했어요!

In [3]:
물 = 0
while 물 < 500:
    물 += 100
    print(물)
print('라면 끓이자')

100
200
300
400
500
라면 끓이자

In [4]:
몸무게 = 70
while 몸무게 < 90:
    print('몸무게', 몸무게)
    print('많이 드세요!')
    몸무게 += 10
print('그만 쫌 드세요')

몸무게 70
많이 드세요!
몸무게 80
많이 드세요!
그만 쫌 드세요

In [5]:
list(range(3))

[0, 1, 2]

In [6]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

In [9]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
for _ in range(3):
    print('아주 잘 했어요!')

아주 잘 했어요!
아주 잘 했어요!
아주 잘 했어요!

In [11]:
for i, n in enumerate(range(3)):
    print(i, n)

0 0
1 1
2 2

In [12]:
for n in [1,2,3]:
    n2 = n*2
    print(n2)
print('영역 밖')

2
4
6
영역 밖

In [13]:
for n in [1,2,3]:
    print(n)
     print(n+1)

IndentationError: unexpected indent (<ipython-input-13-55c55dd8f395>, line 3)

In [14]:
nums2 = []
for n in range(1, 6):
    nums2.append(n**2)
    print(nums2)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [15]:
nums2 = [n**2 for n in range(1, 6)]
nums2

[1, 4, 9, 16, 25]

In [16]:
profiles = [['이', '성주'], ['김', '성주']]

In [17]:
profiles[0]

['이', '성주']

In [18]:
profiles[0][0]

'이'

In [19]:
profiles[0][1]

'성주'

In [20]:
성, 이름 = profiles[0]
print(성+이름)

이성주

In [21]:
for 성, 이름 in profiles:
    print(성+이름)

이성주
김성주

In [22]:
profile = {'name': '성주', 'phone': '1234'}

In [23]:
for key in profile:
    print(key)

name
phone

In [24]:
for key in profile:
    value = profile[key]
    print(key, value)

name 성주
phone 1234

In [25]:
profile.items()

dict_items([('name', '성주'), ('phone', '1234')])

In [26]:
for key, value in profile.items():
    print(key, value)

name 성주
phone 1234

In [27]:
suits = ['spade', 'diamond', 'club', 'heart']

In [28]:
ranks = list(range(2, 11)) + ['J', 'Q', 'K', 'A']
ranks

[2, 3, 4, 5, 6, 7, 8, 9, 10, 'J', 'Q', 'K', 'A']

In [29]:
deck = []
for s in suits:
    for r in ranks:
        card = [s, r]
        deck.append(card)

In [30]:
deck[:13]

[['spade', 2],
 ['spade', 3],
 ['spade', 4],
 ['spade', 5],
 ['spade', 6],
 ['spade', 7],
 ['spade', 8],
 ['spade', 9],
 ['spade', 10],
 ['spade', 'J'],
 ['spade', 'Q'],
 ['spade', 'K'],
 ['spade', 'A']]

In [31]:
deck[0]

['spade', 2]

In [32]:
deck[0][0]

'spade'

In [33]:
deck[0][1]

2